<div class="toolbox-container covered-surface-container">
  <h3 class="toolbox-title covered-surface-title">Covered Surface
  </h3>
  <div class="covered-surface-box">
    <div class="covered-surface-target-label">Target:</div>

    <div class="covered-surface-controls">
      <div id="display-target-surface">80%</div>
      <input id="target-covered-surface"
            class="target-surface"
            type="range"
            min="0"
            max="100"/>
    </div>
    <div class="covered-surface-info">
      <div class="covered-surface-label"> Current:</div>
      <div class="covered-surface-value">0</div>
    </div>
  </div>

</div>
